/* openesf.scss: Copyright (C) 2009-2015 Yozons, Inc. - Last updated 12/17/2015 */

@import "../reindeer/reindeer.scss";

/*
$v-font-size: 12px;

$v-unit-size: 26px;
$v-unit-size--small: 20px;
$v-unit-size--tiny: 18px;

$v-layout-margin-top: 18px;
$v-layout-margin-right: 18px;
$v-layout-margin-bottom: 18px;
$v-layout-margin-left: 18px;
$v-layout-spacing-vertical: 7px;
$v-layout-spacing-horizontal: 6px;

$v-background-color: #fafafa;
$v-app-background-color: #e7ebf2;
$v-panel-background-color: #fff;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 3px;
$v-textfield-border-radius: 0;
$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-color: #37404E;
$v-font-weight: 400;
$v-link-text-decoration: none;
$v-shadow: 0 1px 0 (v-shade 0.2);
$v-bevel: inset 0 1px 0 v-tint;
$v-gradient: v-linear 12%;
$v-overlay-shadow: 0 3px 8px v-shade, 0 0 0 1px (v-shade 0.7);
$v-shadow-opacity: 20%;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-selection-item-border-radius: 0;

@import "../valo/valo";
*/

@mixin openesf {

@include reindeer;
/* @include valo; */

/* Don't like the flashing that occurs when the background color changes for short operations, so perhaps nicer on long/slow operations. */
/*.v-loading-indicator,*/ 
.v-loading-indicator-delay, 
.v-loading-indicator-wait {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    margin: 0;
    padding: 0;

    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 30000;

    background-color: #999999; 
    background-repeat: no-repeat;
    background-position: 50%;

    cursor: wait;
}

$prodColor : #DCE5EE;
$testColor : #FF8000;
$devColor : #FDE8A5;
$errorColor : pink;
$cautionColor : #FF8000;

/* 6/30/2015: fix for resetbuttonfortextfield where X image is showing too low in reindeer but appears okay in valo */
.resetbuttonfortextfield-resetbutton { vertical-align: baseline !important; top: auto !important; }

.v-Notification-tray { margin-top: 3px !important; margin-right: 100px; border: 2px solid yellow; }

.esf-production-mode { background-color: $prodColor; }
.esf-test-like-production-mode { background-color: $prodColor; border: 4px solid $testColor; }
.esf-test-mode { background-color: $devColor; border: 4px solid $testColor; }

.esf-search-production-mode { border: none; }
.esf-search-test-mode { border-bottom: 2px dotted $testColor; }

.v-textfield-error { background-color: $errorColor !important; }
.v-select-error { background-color: $errorColor !important; }
.v-datefield-error .v-datefield-textfield { background-color: $errorColor !important; } 

.v-select-twincol-caption-left { font-style: italic; }
.v-select-twincol-caption-right { font-style: italic; font-weight: bold; }

.v-datefield-day .v-datefield-textfield { width: 13ex !important; } /* found we need bigger than defaults under reindeer theme */

.v-disclosure-caption .v-button-caption { font-weight: normal !important; text-decoration: underline !important; }
.v-ie8 .v-disclosure-caption .v-button-caption { background-position: 2px -35px; } /* found we need to shift a bit for IE8, -39 -> -35 */
.v-ie8 .v-disclosure-caption-open .v-button-caption { background-position: -9px -7px; } /* found we need to shift a bit for IE8, -11 -> -7 */

.v-ff .v-disclosure-caption, 
.v-webkit .v-disclosure-caption { height: 19px !important; } /* found we need 1 px bigger than animator.css defaults to on FF/Chrome/Safari */

.inline, 
.inline div, 
.inline .v-select-option { display: inline; }

.smallInfo, 
.v-caption-smallInfo, 
input.smallInfo { font-size: 8pt; }

.caps { text-transform: uppercase; }
.smallcaps { font-variant: small-caps; }
.lowercase { text-transform: lowercase; }
.underline { text-decoration: underline; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

div.caution .v-button-caption { color: $cautionColor; }
div.v-caption-caution { color: $cautionColor; }

.w10 { width: 10%; }
.w25 { width: 25%; }
.w33 { width: 33%; }
.w34 { width: 34%; }
.w50 { width: 50%; }
.w66 { width: 66%; }
.w67 { width: 67%; }
.w75 { width: 75%; }
.w98 { width: 98%; }
.w100 { width: 100%; }

.nomargin { margin: 0; }
.margin1m { margin: 1em; }
.margin2m { margin: 2em; }

.margin1x { margin: 1ex; }
.margin2x { margin: 2ex; }

.padLeft5p { padding-left: 5px; }
.padRight5p { padding-right: 5px; }

.padLeft1m { padding-left: 1em; }
.padLeft2m { padding-left: 2em; }
.padLeft3m { padding-left: 3em; }
.padLeft4m { padding-left: 4em; }

.padLeft1x { padding-left: 1ex; }
.padLeft2x { padding-left: 2ex; }
.padLeft3x { padding-left: 3ex; }
.padLeft4x { padding-left: 4ex; }

p.indent4m { text-indent: 4em; }
p.indent4x { text-indent: 4ex; }

p.center, span.center { text-align: center; }

div.center, 
table.center { margin-left: auto; margin-right: auto; }

/* to use: <div class="newPage"><span style="display: none;">&nbsp;</span></div> */
div.newPage	{ border-top: 1px dotted gray; } 

.f6 { font-size: 6pt; }
.f7 { font-size: 7pt; }
.f8 { font-size: 8pt; }
.f9 { font-size: 9pt; }
.f10 { font-size: 10pt; }
.f11 { font-size: 11pt; }
.f12 { font-size: 12pt; }
.f14 { font-size: 14pt; }
.f16 { font-size: 16pt; }
.f18 { font-size: 18pt; }
.f22 { font-size: 22pt; }
.f24 { font-size: 24pt; }
.f28 { font-size: 28pt; }

/* For making a Table row appear gray when it's disabled -  */
.v-table-row-disabledText { color: gray; }

/* For ButtonGroup widget */
.v-buttongroup {
	border: 0;

    .v-button {
        height: 25px;
    }

    .v-button-left .v-button-wrap {
        padding: 4px 6px 0 3px;
    }

    .v-button-middle .v-button-wrap {
        padding: 4px 6px 0 6px;
    }

    .v-button-right .v-button-wrap {
        padding: 4px 9px 0 6px;
    }

    .v-button-left .v-button-wrap,
    .v-button-middle .v-button-wrap,
    .v-button-left.v-disabled .v-button-wrap,
    .v-button-middle.v-disabled .v-button-wrap,
    .v-button-left.v-disabled:active .v-button-wrap,
    .v-button-middle.v-disabled:active .v-button-wrap,
    .v-button-left.v-disabled:focus .v-button-wrap,
    .v-button-middle.v-disabled:focus .v-button-wrap {
        background-position: left 0px;
    }

    .v-button-middle,
    .v-button-middle.v-disabled:active,
    .v-button-middle.v-disabled:focus {
        border-left: 1px solid #ccc;
        background-position: 5px 0px;
        padding: 0;
    }

    .v-button-middle.v-disabled {
      padding: 0;
      border-left: 1px solid #ccc;
    }

    .v-button-right {
        border-left: 1px solid #ccc;
        padding: 0;
        background-image: none;
    }

    .v-button-left:focus .v-button-wrap {
        background-position: left 0px;
    }

    .v-button-middle:focus,
    .v-button-middle:focus .v-button-wrap {
          background-position: left 0px;
    }

    .v-button-left:active .v-button-wrap,
    .v-button-left.v-pressed .v-button-wrap,
    .v-button-middle:active .v-button-wrap,
    .v-button-middle.v-pressed .v-button-wrap {
          background-position: left 0px;
    }
}
.v-buttongroup-small {
    .v-button {
    	height: 19px;
    }
    
    .v-button-left .v-button-wrap {
        padding: 1px 6px 0 3px;
    }

    .v-button-middle .v-button-wrap {
        padding: 1px 6px 0 6px;
    }

    .v-button-right .v-button-wrap {
        padding: 1px 9px 0 6px;
    }
}
    


/* OpenESF here */
.AllBlankConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.AllBlankConditionForm .footer .deleteButton { margin-left: 30px; }

.AnyBlankConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.AnyBlankConditionForm .footer .deleteButton { margin-left: 30px; }

.CalculateDateActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.CalculateDateActionForm .footer .deleteButton { margin-left: 30px; }
.CalculateDateActionForm .offsetByLabel { margin-top: 3ex; font-weight: bold; }

.CalculateDateIntervalActionForm .useFromFieldSpec { margin-top: 3ex; margin-left: 2em; }
.CalculateDateIntervalActionForm .useToFieldSpec { margin-top: 3ex; margin-left: 2em; }
.CalculateDateIntervalActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.CalculateDateIntervalActionForm .footer .deleteButton { margin-left: 30px; }

.CalculateMonthlyPaymentActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.CalculateMonthlyPaymentActionForm .footer .deleteButton { margin-left: 30px; }

.CalculateValueActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.CalculateValueActionForm .footer .deleteButton { margin-left: 30px; }

.ChangeFileFieldActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.ChangeFileFieldActionForm .footer .deleteButton { margin-left: 30px; }

.ChangeStatusActionForm .FieldSpecTextField { min-width: 10ex; }
.ChangeStatusActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.ChangeStatusActionForm .footer .deleteButton { margin-left: 30px; }

.ComparisonConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.DeploymentPropertiesForm .footer { margin-bottom: 1em; }
.DeploymentPropertiesForm .footer .v-button { margin-left: 1ex; }
.DeploymentPropertiesForm .footer .clearCacheButton { margin-left: 30px; }

.DocumentPartyToPackagePartyForm .footer { margin-bottom: 1em; }
.DocumentPartyToPackagePartyForm .footer .v-button { margin-left: 1ex; }

.EmailLogView .searchBar { margin: 2px; font-size: 8pt; }
.EmailLogView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }

.EmailView .AttachmentsPanel { }
.EmailView .v-panel-caption-AttachmentsPanel { border: 1px dotted gray; }
.EmailView .v-panel-content-AttachmentsPanel { background-color: white; border: 1px dotted gray; }

.EmailView .HtmlPanel { }
.EmailView .v-panel-caption-HtmlPanel { border: 1px dotted gray; }
.EmailView .v-panel-content-HtmlPanel { background-color: white; border: 1px dotted gray; }

.EmailView .TextPanel { }
.EmailView .v-panel-caption-TextPanel { border: 1px dotted gray; }
.EmailView .v-panel-content-TextPanel { background-color: white; border: 1px dotted gray; }

.ExpiredTimerConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.ExpiredTimerConditionForm .footer .deleteButton { margin-left: 30px; }

.FieldSpecTextField { white-space: nowrap; }
.FieldSpecTextField .FieldSpecPopupView { margin-left: -20px !important; margin-bottom: 2px; }
.v-popupview-popup-FieldSpecPopupView { background-color: lightgray; }
.v-popupview-popup-FieldSpecPopupView .v-slot-ExpandedFieldSpec { padding-left: 25px !important; font-weight: bold; }
.v-popupview-popup-FieldSpecPopupView .v-textfield-ExpandedFieldSpec { background-color: #FFFFE7 !important; width: 25em; color: blue; font-weight: bold; text-align: center; padding: 3px; }

.GroupForm .footer  { margin-bottom: 1em; } 
.GroupForm .footer .v-button { margin-left: 1ex; }
.GroupForm .footer .deleteButton { margin-left: 30px; }
.GroupForm .footer .showMemberUsersButton { margin-left: 40px; }

.HttpSendActionFieldView { border: 3px solid #9899c4; border-radius: 10px; }

.HttpSendActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.HttpSendActionForm .footer .deleteButton { margin-left: 30px; }

.HttpSendLogView .searchBar { margin: 2px; font-size: 8pt; }
.HttpSendLogView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }

.HttpSendView .TextPanel { }
.HttpSendView .v-panel-caption-TextPanel { border: 1px dotted gray; }
.HttpSendView .v-panel-content-TextPanel { background-color: white; border: 1px dotted gray; }

.ImageOverlayFieldForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.LibraryForm .footer { margin-bottom: 1em; } 
.LibraryForm .footer .v-button { margin-left: 1ex; }
.LibraryForm .footer .deleteButton { margin-left: 30px; }
.LibraryForm .footer .exportButton { margin-left: 40px; }
.LibraryForm .footer .importButton { margin-left: 20px; }

.LibButtonMessageForm .footer { margin-bottom: 1em; float: right; }
.LibButtonMessageForm .footer .v-button { margin-right: 1ex; }

.LibButtonMessageList .searchBar { margin: 2px; font-size: 8pt; }
.LibButtonMessageList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibButtonMessageList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibButtonMessageVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibButtonMessageVersionForm .footer .deleteButton { margin-left: 30px; }

.LibButtonMessageVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibButtonMessageVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibDocumentForm .footer { margin-bottom: 1em; float: right; }
.LibDocumentForm .footer .v-button { margin-right: 1ex; }

.LibDocumentList .searchBar { margin: 2px; font-size: 8pt; }
.LibDocumentList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibDocumentList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibDocumentProgrammingRuleForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentProgrammingRuleForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentVersionForm .v-caption-pageInfoList { font-weight: bold; color: brown; font-size: 12pt; }
.LibDocumentVersionForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibDocumentVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibDocumentVersionPageForm .footer .saveAndTestButton { margin-left: 40px !important; }
.LibDocumentVersionPageForm .footer .documentProgrammingRuleButton { margin-left: 40px !important; }

.LibDocumentVersionPageView .v-button-tipsButton .v-icon { margin-right: 0px !important; }
.LibDocumentVersionPageView fieldset { margin-top: 1em; }
.LibDocumentVersionPageView .footer  { margin-top: 1em; margin-bottom: 1em; }
.LibDocumentVersionPageView .footer .v-button { margin-left: 1ex; }
.LibDocumentVersionPageView .footer .v-button-resetButton { margin-left: 4em; }
.LibDocumentVersionPageView .fieldList { font-size: 8pt; }
.LibDocumentVersionPageView .partyList { font-size: 8pt; }
.LibDocumentVersionPageView .fileList { font-size: 8pt; }
.LibDocumentVersionPageView .imageList { font-size: 8pt; }
.LibDocumentVersionPageView .dropdownList { font-size: 8pt; }

.LibDocumentVersionPageViewPartyForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentVersionPageViewPartyForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentVersionPageViewDocumentFileForm .fileInfo { padding-top: 1em; font-weight: bold; }
.LibDocumentVersionPageViewDocumentFileForm .fileInfoError { color: red; font-weight: bold; background-color: yellow; }
.LibDocumentVersionPageViewDocumentFileForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentVersionPageViewDocumentFileForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentVersionPageViewDocumentImageForm .imageInfo { padding-top: 1em; font-weight: bold; }
.LibDocumentVersionPageViewDocumentImageForm .imageInfoError { color: red; font-weight: bold; background-color: yellow; }
.LibDocumentVersionPageViewDocumentImageForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentVersionPageViewDocumentImageForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentVersionPageViewDocumentDropdownForm .dropdownInfo { padding-top: 1em; font-weight: bold; }
.LibDocumentVersionPageViewDocumentDropdownForm .dropdownInfoError { color: red; font-weight: bold; background-color: yellow; }
.LibDocumentVersionPageViewDocumentDropdownForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentVersionPageViewDocumentDropdownForm .footer .deleteButton { margin-left: 30px; }

/* TEST ONLY 
.LibDocumentVersionPageView2 {
	.v-verticallayout { margin: 2px; }
	
	.v-button-tipsButton .v-icon { margin-right: 0px !important; }
}*/

/* Makes the document tester window area white for the JSP document to appear in */
.LibDocumentVersionTester .v-browserframe iframe { background-color: white; }
.LibDocumentVersionTester .header  { border-bottom: 1px dashed $testColor; }
.LibDocumentVersionTester .header .v-button { margin-left: 50px; }

.LibDocumentStyleForm .footer { margin-bottom: 1em; float: right; }
.LibDocumentStyleForm .footer .v-button { margin-right: 1ex; }

.LibDocumentStyleList .searchBar { margin: 2px; font-size: 8pt; }
.LibDocumentStyleList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibDocumentStyleList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibDocumentStyleVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDocumentStyleVersionForm .footer .deleteButton { margin-left: 30px; }

.LibDocumentStyleVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibDocumentStyleVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibDropDownForm .footer { margin-bottom: 1em; float: right; }
.LibDropDownForm .footer .v-button { margin-right: 1ex; }

.LibDropDownList .searchBar { margin: 2px; font-size: 8pt; }
.LibDropDownList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibDropDownList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibDropDownVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibDropDownVersionForm .footer .deleteButton { margin-left: 30px; }
.LibDropDownVersionForm .v-table-cell-wrapper input.v-textfield { margin-bottom: 0px; margin-top: 0px; height: 1.3em; }

.LibDropDownVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibDropDownVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibEmailTemplateForm .footer { margin-bottom: 1em; float: right; }
.LibEmailTemplateForm .footer .v-button { margin-right: 1ex; }

.LibEmailTemplateList .searchBar { margin: 2px; font-size: 8pt; }
.LibEmailTemplateList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibEmailTemplateList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibEmailTemplateVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibEmailTemplateVersionForm .footer .deleteButton { margin-left: 30px; }

.LibEmailTemplateVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibEmailTemplateVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibFieldForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.LibFieldList .searchBar { margin: 2px; font-size: 8pt; }
.LibFieldList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibFieldList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibFileForm .footer { margin-bottom: 1em; float: right; }
.LibFileForm .footer .v-button { margin-right: 1ex; }

.LibFileList .searchBar { margin: 2px; font-size: 8pt; }
.LibFileList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibFileList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibFileVersionForm .fileInfo { padding-top: 1em; font-weight: bold; }
.LibFileVersionForm .fileInfoError { color: red; font-weight: bold; background-color: yellow; }
.LibFileVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibFileVersionForm .footer .deleteButton { margin-left: 30px; }

.LibFileVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibFileVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibImageForm .footer { margin-bottom: 1em; float: right; }
.LibImageForm .footer .v-button { margin-right: 1ex; }

.LibImageList .searchBar { margin: 2px; font-size: 8pt; }
.LibImageList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibImageList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibImageVersionForm .imageInfo { padding-top: 1em; font-weight: bold; }
.LibImageVersionForm .imageInfoError { color: red; font-weight: bold; background-color: yellow; }
.LibImageVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibImageVersionForm .footer .deleteButton { margin-left: 30px; }

.LibImageVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibImageVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibPartyForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.LibPartyList .searchBar { margin: 2px; font-size: 8pt; }
.LibPartyList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibPartyList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibPropertySetForm .footer { margin-bottom: 1em; float: right; }
.LibPropertySetForm .footer .v-button { margin-right: 1ex; }

.LibPropertySetList .searchBar { margin: 2px; font-size: 8pt; }
.LibPropertySetList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibPropertySetList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibPropertySetVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibPropertySetVersionForm .footer .deleteButton { margin-left: 30px; }
.LibPropertySetVersionForm .v-table-cell-wrapper input.v-textfield { margin-bottom: 0px; margin-top: 0px; height: 1.3em; }

.LibPropertySetVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibPropertySetVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibSerialForm .footer { padding-bottom: 1em; float: right; }
.LibSerialForm .footer .v-button { padding-right: 1ex; }

.LibSerialList .searchBar { margin: 2px; font-size: 8pt; }
.LibSerialList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.LibSerialList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.LibSerialVersionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.LibSerialVersionForm .footer .deleteButton { margin-left: 30px; }

.LibSerialVersionList .searchBar { margin: 2px; font-size: 8pt; }
.LibSerialVersionList .searchBar .createNewButton { margin-left: 1em; }

.LibraryProgrammingViewNavigation { background-color: $devColor; }
.LibraryProgrammingNavigationTree { margin-top: 30px; margin-left: 0; }

.MainView {
	.header { 
		.logo { margin-left: 15px; }
		.userName { font-style: italic; font-weight: bold; text-align: center; }
		.logoffButton {	margin-right: 15px; }
		.logoffButton .v-button-caption { font-size: 12pt !important; }
	}
	.footer { 
		font-size: 8pt !important;
		.v-label { font-size: 8pt !important; }
		.copyrightVersionInfo { text-align: right; padding-right: 5px; white-space: nowrap; }
	}
	.MainMenu { 
		padding-left: 15px;
		background-color: #2f3133; /* to match the MenuBar background image */
		.modeSelector input { font-weight: bold; }
		.menu { 
			.v-menubar-menuitem-spacer { width: 20px; min-width: 15px; text-align: center; }
		}
	}
	.v-tabsheet {
		background-color: #f5f5f5;
	}
}

.PackageForm {
	.footer { 
		margin-bottom: 1em; float: right; 
		.v-button { margin-right: 1ex; }
	}
}
.PackageList .searchBar { margin: 2px; font-size: 8pt; }
.PackageList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.PackageList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.PackageReportFieldForm .v-checkbox { margin-top: 2ex; }
.PackageReportFieldForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.PackageReportFieldForm .footer .deleteButton { margin-left: 30px; }

.PackageProgrammingRuleForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.PackageProgrammingRuleForm .footer .deleteButton { margin-left: 30px; }

.PackageVersionForm .footer1 { margin-bottom: 1em; }
.PackageVersionForm .footer2 .v-button { margin-left: 1ex; margin-top: 1em; margin-bottom: 1em; }
.PackageVersionForm .footer2 .deleteButton { margin-left: 30px; }

.PackageVersionList .searchBar { margin: 2px; font-size: 8pt; }
.PackageVersionList .searchBar .createNewButton { margin-left: 1em; }

.PackageVersionReportFieldForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.PackagePartyToDocumentPartyForm .footer { margin-bottom: 1em; }
.PackagePartyToDocumentPartyForm .footer .v-button { margin-left: 1ex; }

.PayPalDoDirectPaymentSaleActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.PayPalDoDirectPaymentSaleActionForm .footer .deleteButton { margin-left: 30px; }

.ReloadTransactionDataView .searchBar { margin: 2px; font-size: 8pt; }
.ReloadTransactionDataView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.ReloadTransactionDataView .searchBar select { font-size: 8pt; }

.ReportDetailView .v-captiontext { font-weight: bold; }
.ReportDetailView .v-textfield-canceled {color: red; font-weight: bold;}
.ReportDetailView .v-textfield-inprogress {color: green; font-weight: bold;}
.ReportDetailView .v-textfield-suspended {color: gray; font-weight: bold;}
.ReportDetailView .v-textfield-caution  {color: #FF8000; font-weight: bold;}

.ReportDetailView .v-table-cell-content-active {color: green; font-weight: bold;}
.ReportDetailView .v-table-cell-content-skipped {color: gray; font-style: italic;}
.ReportDetailView .v-table-cell-content-reports {}
.ReportDetailView .v-table-cell-content-activated {color: green; font-weight: bold;}
.ReportDetailView .v-table-cell-content-retrieved {color: green; font-weight: bold;}
.ReportDetailView .v-table-cell-content-rejected {color: red; font-weight: bold;}
.ReportDetailView .v-table-cell-content-completed {font-weight: bold;}
.ReportDetailView .v-table-cell-content-transferred {color: gray; font-style: italic;}
.ReportDetailView .v-table-cell-content-undefined {color: gray; font-style: italic;}
.ReportDetailView .v-table-cell-content-caution {color: #FF8000; font-weight: bold;}

.ReportDetailView .documentName { font-weight: bold; font-size: 12pt; color: blue; }
.ReportDetailView .documentPartyTable { font-size: 8pt; }
.ReportDetailView .SelectableDownloadButton { margin: 1em; }

.ReportView {
	.searchBar { 
		margin: 2px; font-size: 8pt; 
		.v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
		select { font-size: 8pt; }
		.searchId { width: 39ex; }
		.searchPartyEmail { width: 39ex; }
	}
	.userSearchLayout { 
		margin: 2px; font-size: 8pt; background-color: $prodColor; 
		.v-textfield { font-size: 8pt; }
		.v-datefield { font-size: 8pt; }
		.v-captiontext { font-size: 7pt; }
	}
	.userSearchFieldDateLayout { white-space: nowrap; border: 1px solid blue; }
	.v-table-cell-content-canceled {color: red; font-weight: bold;}
	.v-table-cell-content-inprogress {color: green; font-weight: bold;}
	.v-table-cell-content-suspended  {color: gray; font-weight: bold;}
	.v-table-cell-content-caution  {color: #FF8000; font-weight: bold;}
}

.ReportTemplateForm .footer { margin-bottom: 1em; } 
.ReportTemplateForm .footer .v-button { margin-left: 1ex; }
.ReportTemplateForm .footer .deleteButton { margin-left: 30px; }

.ReportTemplateReportFieldForm .v-checkbox { margin-top: 2ex; }
.ReportTemplateReportFieldForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }

.SendEmailActionForm .attachAsPdf { margin-top: 1em; }
.SendEmailActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.SendEmailActionForm .footer .deleteButton { margin-left: 30px; }

.SetFieldValueActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.SetFieldValueActionForm .footer .deleteButton { margin-left: 30px; }

.ShowErrorActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.ShowErrorActionForm .footer .deleteButton { margin-left: 30px; }

.SomeButNotAllBlankConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.SomeButNotAllBlankConditionForm .footer .deleteButton { margin-left: 30px; }

.TimerActionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.TimerActionForm .footer .deleteButton { margin-left: 30px; }

.TipsForm fieldset { margin-top: 1em; }
.TipsForm .footer  { margin-top: 1em; margin-bottom: 1em; } 
.TipsForm .footer .v-button { margin-left: 1ex; }
.TipsForm .footer .restoreToDefaultButton { margin-left: 40px; }

.TodoListingView .searchBar { margin: 2px; font-size: 8pt; }
.TodoListingView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.TodoListingView .v-caption { background-color: gray; }
.TodoListingView .v-captiontext { margin-left: 1em; font-size: 10pt; font-weight: bold; color: white; }

.TransactionCsvStartForm .errorMessageLabel { border: 2px solid #FBD777; border-radius: 5px; background-color: #FDE8A5; padding-top: 2px; padding-bottom: 2px; overflow: auto; }

.TransactionDetailView .v-captiontext { font-weight: bold; }
.TransactionDetailView .v-textfield-canceled {color: red; font-weight: bold;}
.TransactionDetailView .v-textfield-inprogress {color: green; font-weight: bold;}
.TransactionDetailView .v-textfield-suspended  {color: gray; font-weight: bold;}
.TransactionDetailView .v-textfield-caution  {color: #FF8000; font-weight: bold;}

.TransactionDetailView .v-table-cell-content-active {color: green; font-weight: bold;}
.TransactionDetailView .v-table-cell-content-skipped  {color: gray; font-style: italic;}
.TransactionDetailView .v-table-cell-content-reports  {}
.TransactionDetailView .v-table-cell-content-activated {color: green; font-weight: bold;}
.TransactionDetailView .v-table-cell-content-retrieved {color: green; font-weight: bold;}
.TransactionDetailView .v-table-cell-content-rejected {color: red; font-weight: bold;}
.TransactionDetailView .v-table-cell-content-completed {font-weight: bold;}
.TransactionDetailView .v-table-cell-content-transferred  {color: gray; font-style: italic;}
.TransactionDetailView .v-table-cell-content-undefined  {color: gray; font-style: italic;}
.TransactionDetailView .v-table-cell-content-caution  {color: #FF8000; font-weight: bold;}

.TransactionDetailView .documentName { font-weight: bold; font-size: 12pt; color: blue; }
.TransactionDetailView .documentPartyTable { font-size: 8pt; }

.TransactionDetailView .SelectableDownloadButton { margin: 1em; }

.TransactionListingView {
	.searchBar { 
		margin: 2px; font-size: 8pt; 
		.v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
		select { font-size: 8pt; }
		.searchId { width: 39ex; }
		.searchPartyPickupCode { width: 30ex; }
		.searchPartyEmail { width: 39ex; }
	}
	.v-table-cell-content-canceled {color: red; font-weight: bold;}
	.v-table-cell-content-inprogress {color: green; font-weight: bold;}
	.v-table-cell-content-suspended  {color: gray; font-weight: bold;}
	.v-table-cell-content-caution  {color: #FF8000; font-weight: bold;}
}

.TransactionLogView .searchBar { margin: 2px; font-size: 8pt; }
.TransactionLogView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }

.TransactionTemplateForm .footer { margin-bottom: 1em; } 
.TransactionTemplateForm .footer .v-button { margin-left: 1ex; }
.TransactionTemplateForm .footer .deleteButton { margin-left: 30px; }

.TranSnapshotPopupButtonLayout { overflow-y: auto !important; padding-right: 20px; padding-bottom: 10px; }
.TranSnapshotPopupButtonLayout .v-slot { height: 12px !important; }

.TranSnapshotsDownloadPopupButtonLayout .v-link { font-weight: bold !important; padding-right: 1em; }
.TranSnapshotsDownloadPopupButtonLayout .v-button-caption { font-weight: bold !important; }

.UIForm .footer { margin-bottom: 1em; } 
.UIForm .footer .v-button { margin-left: 1ex; }
.UIForm .footer .deleteButton { margin-left: 30px; }

.UpdateApiConditionForm .footer .v-button { margin-left: 1ex; margin-bottom: 1em; }
.UpdateApiConditionForm .footer .deleteButton { margin-left: 30px; }

.UserChangePasswordForm .footer { margin-bottom: 1em; }
.UserChangePasswordForm .footer .v-button { margin-left: 1ex; }

.UserForm .footer .propertySetsButton { margin-left: 1ex; }
.UserForm .footer .sendPasswordResetButton { margin-left: 40px; }
.UserForm .footer { margin-bottom: 1em; }
.UserForm .footer2 .v-button { margin-left: 1ex; }
.UserForm .footer2 .deleteButton { margin-left: 30px; }
.UserForm .footer2 { margin-bottom: 1em; }

.UserList .searchBar { margin: 2px; font-size: 8pt; }
.UserList .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }
.UserList .searchBar .v-horizontallayout-segment { margin-left: 5px; }

.UserLogView .searchBar { margin: 2px; font-size: 8pt; }
.UserLogView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }

.UserSessionView .searchBar { margin: 2px; font-size: 8pt; }
.UserSessionView .searchBar .v-textfield { font-size: 8pt; padding: 2px 2px 1px; }

@media print {
	body { margin: 0; padding: 0; }
	div.newPage	{ border-top: none; page-break-after: always; }
}

} /* end of @mixin openesf theme */