<table class="w98" cellpadding="5" cellspacing="0">
	<tr>
		<td><h2 style="margin-top: 2px; margin-bottom: 2px;" location="originalEsfName"></h2></td>
		<td><div class="inline smallInfo" location="id"></div></td>
		<td><div class="inline smallInfo" location="lastUpdatedTimestamp"></div></td>
	</tr>
</table>
<table class="w98" cellpadding="5">
	<tr>
		<td colspan="2">
			<div location="status"></div>
		</td>
	</tr>
	<tr>
		<td class="w50">
			<div location="esfName"></div>
		</td>
		<td class="w50">
			<div location="description"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div location="comments"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div location="permDrawer"></div>
		</td>
	</tr>
</table>
